
.footer a {
  color: lightgrey;
  font-size: 30px;

}

.footer {
  text-align: center;
  background: rgb(30, 30, 30);
  padding: 0.2px;
  color: lightgrey;
}

.list-inline li {
  display: inline-block;
  font-size: 15px;
}

.list-inline a:hover {
  color: white;
}



